/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS variables */

html {
  --base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-primary: #3A75CB;
  --color-semantic-success: #75D37E;
  --color-semantic-border: #DDD;
  --color-semantic-highlight: #FFC;
}

/* Base */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.4rem;
  line-height: 1.3;
  overflow: hidden;
  font-family: var(--base-font);
}

/* Table
   ========================================================================== */

.table {
  width: 100%;
}

.table td,
.table th {
  padding: 0.6rem;
  vertical-align: middle;
}

.table th {
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid var(--color-semantic-border);
}

.table td {
  border-bottom: 1px solid var(--color-semantic-border);
}

/* Content
   ========================================================================== */

.c-content p,
.c-body-1 {
  margin: 0 0 1.4rem;
}

.c-content .c-body-2,
.c-body-2 {
  font-size: 1.2rem;
}

.c-content h1,
.c-h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

.c-content h1 {
  margin: 0 0 2.6rem;
}

.c-content h2,
.c-h2 {
  font-size: 2.1rem;
  font-weight: 700;
}

.c-content h2 {
  margin: 0 0 2.1rem;
}

.c-content h3,
.c-h3 {
  font-weight: 700;
  font-size: 1.7rem;
}

.c-content h3 {
  margin: 0 0 1.7rem;
}

.c-content h4,
.c-h4 {
  font-weight: 700;
  font-size: 1.4rem;
}

.c-content h4 {
  margin: 0 0 1.4rem;
}

.c-content ul,
.c-content ol {
  padding: 0 0 1.4rem 2.4rem;
}

.c-content ul li {
  list-style: disc;
}

.c-content ol li {
  list-style: decimal;
}

/* Utilities
   ========================================================================== */

.u-sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-overflow-hidden {
  overflow: hidden;
}
